{% extends 'base.html' %}
{% block  content %}

<div class="container" >
  <div class="align-baseline" >
    <div class="row h-100 justify-content-center align-items-center" >
      <div class="align-middle mw-10 p-3 border rounded shadow ">

<h1>Hello {{ username }}!</h1>

<form action={{ url_for('logout') }}>
  <input type="submit" value="Log out" />
</form>

<form action={{ url_for('render') }} method="post">
  <label for="markdown">Input your new note:</label><br>
  <textarea id="markdown" name="markdown" rows="20" cols="100">{{raw_note}}</textarea>
  <br>
  <div>
    <label for="public">Public</label>
    <input type="checkbox" name="public" id="public" >
  </div>
  <div>
    <label for="encrypt">Encrypt</label>
    <input type="checkbox" name="encrypt" id="encrypt" >
  </div>
  <div>
    <text>Encryption password</text>
    <input type="password" name="password">
  </div>
  
  <input type="submit" value="Submit">
</form>
{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <ul class=flashes>
    {% for category, message in messages %}
      <div>{{ message }}</div>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}



{% if notes|length > 0 %}
<h1> Your notes: </h1>
<ul>
{% for note in notes %}
  <li><a href="{{ url_for('get_note', rendered_id=note.0) }}"> Note {{ loop.index }}</a></li>
{% endfor %}
</ul>

{% endif %}





</div>
</div>
</div>
</div>
{% endblock %}